
// base styles
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #292727;
	font-family: 'basis-grotesque-regular', 'Helvetica', 'Helvetica Neue', 'Arial', 'Sans serif';
	overflow-x: hidden;
	font-size: 15px;
	line-height: 24px;
	@media (min-width: 728px) {
  	font-size: 18px;
  	line-height: 30px;
	}
}

body {
	background: $background-color;
}

html.sr .load-hidden {
  visibility: hidden;
}

.container {
	margin: auto;
	width: 95%;
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	@media (min-width: 728px) {
		max-width: 1500px;
		width: 90%;
		padding-top: 30px;
	}
}

h1 {
	@include h1-style;
}

h2 {
	@include h2-style;
}

h3 {
	@include h3-style;
}

h4 {
	font-size: 16px;
	margin-bottom: 12px;
	@media (min-width: 728px) {
  	font-size: 18px;
	}
}

p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	@media (min-width: 728px) {
	  	font-size: 19px;
	  	line-height: 32px;
	}
	&.p-lrg {
		font-size: 12px;
    line-height: 19px;
    @media (min-width: 728px) {
    	font-size: 18px;
	    line-height: 33px;
	  }
		@media (min-width: 1100px) {
			font-size: 24px;
    line-height: 37px;

		}
	}
	&.p-sm {
	font-size: 15px;
  line-height: 21px;		
	}
}

* + p {
	margin-top: 7px;
}

a {
	color: $black;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $black;
		text-decoration: none;
	}
}

