
// fonts
@font-face {
  font-family: 'basis-grotesque-bold';
  src: url('../fonts/basis-grotesque-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/basis-grotesque-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/basis-grotesque-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/basis-grotesque-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/basis-grotesque-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/basis-grotesque-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'basis-grotesque-regular';
  src: url('../fonts/basis-grotesque-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/basis-grotesque-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/basis-grotesque-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/basis-grotesque-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/basis-grotesque-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

