a.coded {
	display: none;
	@media (min-width: 728px) {
		@include transition;
		display: block;
		cursor: pointer;
    transform: rotate(90deg);
    position: fixed;
    right: -65px;
    top: 49%;
    font-size: 14px;
    opacity: 0.35;
    text-align: center;
    text-decoration: none;
    .sparkle {
    	@include transition;
    	opacity: 0;
    }
    &:hover {
    	@include transition;
    	cursor: pointer;
    	opacity: 1;	
    	text-decoration: none;
    	.sparkle {
    		@include transition;
    		opacity: 1;
    	}
    }
	}
	@media (min-width: 1150px) {
		right: -50px;
	}
}

.intro.home {
	a {
		border-bottom: 1px solid $black;
	}
}

section.work-section {
	padding-bottom: 30px;

	.work-row {
		a.work {
			display: block;
			margin-bottom: 40px;
			text-decoration: none;
			position: relative;
				&:hover,
				&:active,
				&:focus,
				&:visited {
					text-decoration: none;
				}
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-top: 0;
			}
			.work-img {
				position: relative;
				margin-bottom: 20px;
				img {
					transition: all 350ms ease;
				}
			}
			.work-overlay {
				position: absolute;
				height: 100%;
				width: 100%;
				background: $white;
				color: $black;
				opacity: 0;
				top: 0;
				transition: all 250ms ease-out;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: scale(0.95);
			}
			@media (min-width: 728px) {
				margin-bottom: 70px;
			}
			&:hover {
				.work-overlay {
					opacity: 1;
					transition: all 250ms ease-out;
					transform: scale(0.9);
				}
			}
		}
	}
	@media (min-width: 992px) {
		padding-bottom: 100px;
	}
}


