

section.work-section {
	padding-bottom: 30px;
	.work-row {
		a.work {
			display: block;
			margin-bottom: 40px;
			text-decoration: none;
				&:hover,
				&:active,
				&:focus,
				&:visited {
					text-decoration: none;
				}
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-top: 0;
			}
			.work-img {
				position: relative;
				margin-bottom: 20px;
				img {
					transition: all 350ms ease;
				}
				&:hover {
					img {
						transform: scale(1.01) rotate(1.5deg);
						transition: all 350ms ease;
					}

				}
			}
			@media (min-width: 728px) {
				margin-bottom: 70px;
			}
		}
		.work-col:nth-of-type(even) {
			a.work {
				.work-img {
					&:hover {
						img {
							transform: scale(1.01) rotate(-1.5deg);
						}
					}
				}
			}
		}
	}
	@media (min-width: 992px) {
		padding-bottom: 100px;
	}
}


