
.intro,
.bio {
	a {
	    border-bottom: 1px solid #aeaeae;
		&:hover {
	    border-bottom: 1px solid #aeaeae;
		}
		&:active,
		&:focus,
		&:visited {
			// text-decoration: underline;
		}
	}
}

.intro {
	margin: auto;
	padding: 50px 0;
	@media (min-width: 728px) {
  	padding: 130px 0 50px;
	}
	p {
		color: $grey-300;
		margin-right: 13px;
		&:last-child {
			margin-right: 0;
		}
		a.social {
			border-bottom: 0;
			opacity: 0.4;
			transition: all 350ms ease;
			&:hover {
				border-bottom: 0;
				opacity: 0.7;
				transition: all 350ms ease;
			}
		}
	}
}

section.work-section {
	padding-bottom: 150px;
	.work-row {
		a.work {
			display: block;
			margin-bottom: 100px;
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-top: 0;
				color: $grey-300;
			}
			.work-img {
				position: relative;
				margin-bottom: 20px;
				img {
					transition: all 350ms ease;
				}
				&:hover {
					img {
						transform: scale(1.01) rotate(1.5deg);
						transition: all 350ms ease;
					}

				}
			}
		}
		.work-col:nth-of-type(even) {
			a.work {
				.work-img {
					&:hover {
						img {
							transform: scale(1.01) rotate(-1.5deg);
						}
					}
				}
			}
		}
	}
}


