@mixin small-caps {
	font-family: 'atlas-grotesk-reg';
    font-weight: 600;
	font-size: 0.65em;
	letter-spacing: 1.3px;
	opacity: 0.4;	
	text-transform: uppercase;
}

@mixin transition {
	-webkit-transition: all 200ms ease-in-out; /* Safari */
    transition: all 200ms ease-in-out;
}