@import url(reset.css);
@font-face {
  font-family: 'p22-mackinac-book';
  src: url("../fonts/p22-mackinac-book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/p22-mackinac-book.eot?#iefix") format("embedded-opentype"), url("../fonts/p22-mackinac-book.woff2") format("woff2"), url("../fonts/p22-mackinac-book.woff") format("woff"), url("../fonts/p22-mackinac-book.ttf") format("truetype"), url("../fonts/p22-mackinac-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'atlas-grotesk-med';
  src: url("../fonts/AtlasGrotesk-Medium-Web.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AtlasGrotesk-Medium-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Medium-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Medium-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-Medium-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-Medium-Web.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'atlas-grotesk-reg';
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff"), url("../fonts/AtlasGrotesk-Regular-Web.ttf") format("truetype"), url("../fonts/AtlasGrotesk-Regular-Web.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-family: 'Basis Grotesque Pro', 'Helvetica', 'Helvetica Neue', 'Arial', 'Sans serif';
  overflow-x: hidden;
  font-size: 15px;
  line-height: 24px; }
  @media (min-width: 728px) {
    html,
    body {
      font-size: 18px;
      line-height: 30px; } }

body {
  background: #e6e1df45; }

#about {
  background: #B793A0; }

html.sr .load-hidden {
  visibility: hidden; }

.container {
  margin: auto;
  width: 95%;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 728px) {
    .container {
      max-width: 1200px;
      width: 90%;
      padding-top: 30px; } }

h1 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px; }
  @media (min-width: 728px) {
    h1 {
      font-size: 27px;
      line-height: 37px; } }

h2 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 15px; }

h3 {
  font-size: 13px;
  margin-bottom: 12px; }
  @media (min-width: 728px) {
    h3 {
      font-size: 23px; } }

h4 {
  font-size: 13px;
  margin-bottom: 12px; }
  @media (min-width: 728px) {
    h4 {
      font-size: 18px; } }

p {
  font-size: 16px;
  line-height: 24px; }
  @media (min-width: 728px) {
    p {
      font-size: 21px;
      line-height: 32px; } }
  p.p-lrg {
    font-size: 12px;
    line-height: 19px; }
    @media (min-width: 728px) {
      p.p-lrg {
        font-size: 18px;
        line-height: 33px; } }
    @media (min-width: 1100px) {
      p.p-lrg {
        font-size: 24px;
        line-height: 37px; } }
  p.p-sm {
    font-size: 15px;
    line-height: 21px; }

* + p {
  margin-top: 7px; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover, a:active, a:focus, a:visited {
    color: #000;
    text-decoration: underline; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.overflow-hidden {
  overflow: hidden; }

.small-caps {
  font-family: 'atlas-grotesk-reg';
  font-weight: 600;
  font-size: 0.65em;
  letter-spacing: 1.3px;
  opacity: 0.4;
  text-transform: uppercase; }

.relative {
  position: relative; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.block {
  display: block; }

.border-top {
  border-top: 1px solid #000; }

.opacity {
  opacity: 0.4; }

.bold {
  font-weight: 600; }

.normal {
  font-weight: 400; }

.pull-quote {
  padding-left: 25px;
  border-left: 1px solid black; }

.padding-0px {
  padding: 0px !important; }

.padding-top-0px {
  padding-top: 0px !important; }

.padding-bottom-0px {
  padding-bottom: 0px !important; }

.padding-left-0px {
  padding-left: 0px !important; }

.padding-right-0px {
  padding-right: 0px !important; }

.margin-0px {
  margin: 0px !important; }

.margin-top-0px {
  margin-top: 0px !important; }

.margin-bottom-0px {
  margin-bottom: 0px !important; }

.margin-left-0px {
  margin-left: 0px !important; }

.margin-right-0px {
  margin-right: 0px !important; }

.padding-5px {
  padding: 5px !important; }

.padding-top-5px {
  padding-top: 5px !important; }

.padding-bottom-5px {
  padding-bottom: 5px !important; }

.padding-left-5px {
  padding-left: 5px !important; }

.padding-right-5px {
  padding-right: 5px !important; }

.margin-5px {
  margin: 5px !important; }

.margin-top-5px {
  margin-top: 5px !important; }

.margin-bottom-5px {
  margin-bottom: 5px !important; }

.margin-left-5px {
  margin-left: 5px !important; }

.margin-right-5px {
  margin-right: 5px !important; }

.padding-10px {
  padding: 10px !important; }

.padding-top-10px {
  padding-top: 10px !important; }

.padding-bottom-10px {
  padding-bottom: 10px !important; }

.padding-left-10px {
  padding-left: 10px !important; }

.padding-right-10px {
  padding-right: 10px !important; }

.margin-10px {
  margin: 10px !important; }

.margin-top-10px {
  margin-top: 10px !important; }

.margin-bottom-10px {
  margin-bottom: 10px !important; }

.margin-left-10px {
  margin-left: 10px !important; }

.margin-right-10px {
  margin-right: 10px !important; }

.padding-15px {
  padding: 15px !important; }

.padding-top-15px {
  padding-top: 15px !important; }

.padding-bottom-15px {
  padding-bottom: 15px !important; }

.padding-left-15px {
  padding-left: 15px !important; }

.padding-right-15px {
  padding-right: 15px !important; }

.margin-15px {
  margin: 15px !important; }

.margin-top-15px {
  margin-top: 15px !important; }

.margin-bottom-15px {
  margin-bottom: 15px !important; }

.margin-left-15px {
  margin-left: 15px !important; }

.margin-right-15px {
  margin-right: 15px !important; }

.padding-20px {
  padding: 20px !important; }

.padding-top-20px {
  padding-top: 20px !important; }

.padding-bottom-20px {
  padding-bottom: 20px !important; }

.padding-left-20px {
  padding-left: 20px !important; }

.padding-right-20px {
  padding-right: 20px !important; }

.margin-20px {
  margin: 20px !important; }

.margin-top-20px {
  margin-top: 20px !important; }

.margin-bottom-20px {
  margin-bottom: 20px !important; }

.margin-left-20px {
  margin-left: 20px !important; }

.margin-right-20px {
  margin-right: 20px !important; }

.padding-25px {
  padding: 25px !important; }

.padding-top-25px {
  padding-top: 25px !important; }

.padding-bottom-25px {
  padding-bottom: 25px !important; }

.padding-left-25px {
  padding-left: 25px !important; }

.padding-right-25px {
  padding-right: 25px !important; }

.margin-25px {
  margin: 25px !important; }

.margin-top-25px {
  margin-top: 25px !important; }

.margin-bottom-25px {
  margin-bottom: 25px !important; }

.margin-left-25px {
  margin-left: 25px !important; }

.margin-right-25px {
  margin-right: 25px !important; }

.padding-30px {
  padding: 30px !important; }

.padding-top-30px {
  padding-top: 30px !important; }

.padding-bottom-30px {
  padding-bottom: 30px !important; }

.padding-left-30px {
  padding-left: 30px !important; }

.padding-right-30px {
  padding-right: 30px !important; }

.margin-30px {
  margin: 30px !important; }

.margin-top-30px {
  margin-top: 30px !important; }

.margin-bottom-30px {
  margin-bottom: 30px !important; }

.margin-left-30px {
  margin-left: 30px !important; }

.margin-right-30px {
  margin-right: 30px !important; }

.padding-35px {
  padding: 35px !important; }

.padding-top-35px {
  padding-top: 35px !important; }

.padding-bottom-35px {
  padding-bottom: 35px !important; }

.padding-left-35px {
  padding-left: 35px !important; }

.padding-right-35px {
  padding-right: 35px !important; }

.margin-35px {
  margin: 35px !important; }

.margin-top-35px {
  margin-top: 35px !important; }

.margin-bottom-35px {
  margin-bottom: 35px !important; }

.margin-left-35px {
  margin-left: 35px !important; }

.margin-right-35px {
  margin-right: 35px !important; }

.padding-40px {
  padding: 40px !important; }

.padding-top-40px {
  padding-top: 40px !important; }

.padding-bottom-40px {
  padding-bottom: 40px !important; }

.padding-left-40px {
  padding-left: 40px !important; }

.padding-right-40px {
  padding-right: 40px !important; }

.margin-40px {
  margin: 40px !important; }

.margin-top-40px {
  margin-top: 40px !important; }

.margin-bottom-40px {
  margin-bottom: 40px !important; }

.margin-left-40px {
  margin-left: 40px !important; }

.margin-right-40px {
  margin-right: 40px !important; }

.padding-45px {
  padding: 45px !important; }

.padding-top-45px {
  padding-top: 45px !important; }

.padding-bottom-45px {
  padding-bottom: 45px !important; }

.padding-left-45px {
  padding-left: 45px !important; }

.padding-right-45px {
  padding-right: 45px !important; }

.margin-45px {
  margin: 45px !important; }

.margin-top-45px {
  margin-top: 45px !important; }

.margin-bottom-45px {
  margin-bottom: 45px !important; }

.margin-left-45px {
  margin-left: 45px !important; }

.margin-right-45px {
  margin-right: 45px !important; }

.padding-50px {
  padding: 50px !important; }

.padding-top-50px {
  padding-top: 50px !important; }

.padding-bottom-50px {
  padding-bottom: 50px !important; }

.padding-left-50px {
  padding-left: 50px !important; }

.padding-right-50px {
  padding-right: 50px !important; }

.margin-50px {
  margin: 50px !important; }

.margin-top-50px {
  margin-top: 50px !important; }

.margin-bottom-50px {
  margin-bottom: 50px !important; }

.margin-left-50px {
  margin-left: 50px !important; }

.margin-right-50px {
  margin-right: 50px !important; }

.padding-55px {
  padding: 55px !important; }

.padding-top-55px {
  padding-top: 55px !important; }

.padding-bottom-55px {
  padding-bottom: 55px !important; }

.padding-left-55px {
  padding-left: 55px !important; }

.padding-right-55px {
  padding-right: 55px !important; }

.margin-55px {
  margin: 55px !important; }

.margin-top-55px {
  margin-top: 55px !important; }

.margin-bottom-55px {
  margin-bottom: 55px !important; }

.margin-left-55px {
  margin-left: 55px !important; }

.margin-right-55px {
  margin-right: 55px !important; }

.padding-60px {
  padding: 60px !important; }

.padding-top-60px {
  padding-top: 60px !important; }

.padding-bottom-60px {
  padding-bottom: 60px !important; }

.padding-left-60px {
  padding-left: 60px !important; }

.padding-right-60px {
  padding-right: 60px !important; }

.margin-60px {
  margin: 60px !important; }

.margin-top-60px {
  margin-top: 60px !important; }

.margin-bottom-60px {
  margin-bottom: 60px !important; }

.margin-left-60px {
  margin-left: 60px !important; }

.margin-right-60px {
  margin-right: 60px !important; }

.padding-65px {
  padding: 65px !important; }

.padding-top-65px {
  padding-top: 65px !important; }

.padding-bottom-65px {
  padding-bottom: 65px !important; }

.padding-left-65px {
  padding-left: 65px !important; }

.padding-right-65px {
  padding-right: 65px !important; }

.margin-65px {
  margin: 65px !important; }

.margin-top-65px {
  margin-top: 65px !important; }

.margin-bottom-65px {
  margin-bottom: 65px !important; }

.margin-left-65px {
  margin-left: 65px !important; }

.margin-right-65px {
  margin-right: 65px !important; }

.padding-70px {
  padding: 70px !important; }

.padding-top-70px {
  padding-top: 70px !important; }

.padding-bottom-70px {
  padding-bottom: 70px !important; }

.padding-left-70px {
  padding-left: 70px !important; }

.padding-right-70px {
  padding-right: 70px !important; }

.margin-70px {
  margin: 70px !important; }

.margin-top-70px {
  margin-top: 70px !important; }

.margin-bottom-70px {
  margin-bottom: 70px !important; }

.margin-left-70px {
  margin-left: 70px !important; }

.margin-right-70px {
  margin-right: 70px !important; }

.padding-75px {
  padding: 75px !important; }

.padding-top-75px {
  padding-top: 75px !important; }

.padding-bottom-75px {
  padding-bottom: 75px !important; }

.padding-left-75px {
  padding-left: 75px !important; }

.padding-right-75px {
  padding-right: 75px !important; }

.margin-75px {
  margin: 75px !important; }

.margin-top-75px {
  margin-top: 75px !important; }

.margin-bottom-75px {
  margin-bottom: 75px !important; }

.margin-left-75px {
  margin-left: 75px !important; }

.margin-right-75px {
  margin-right: 75px !important; }

.padding-80px {
  padding: 80px !important; }

.padding-top-80px {
  padding-top: 80px !important; }

.padding-bottom-80px {
  padding-bottom: 80px !important; }

.padding-left-80px {
  padding-left: 80px !important; }

.padding-right-80px {
  padding-right: 80px !important; }

.margin-80px {
  margin: 80px !important; }

.margin-top-80px {
  margin-top: 80px !important; }

.margin-bottom-80px {
  margin-bottom: 80px !important; }

.margin-left-80px {
  margin-left: 80px !important; }

.margin-right-80px {
  margin-right: 80px !important; }

.padding-85px {
  padding: 85px !important; }

.padding-top-85px {
  padding-top: 85px !important; }

.padding-bottom-85px {
  padding-bottom: 85px !important; }

.padding-left-85px {
  padding-left: 85px !important; }

.padding-right-85px {
  padding-right: 85px !important; }

.margin-85px {
  margin: 85px !important; }

.margin-top-85px {
  margin-top: 85px !important; }

.margin-bottom-85px {
  margin-bottom: 85px !important; }

.margin-left-85px {
  margin-left: 85px !important; }

.margin-right-85px {
  margin-right: 85px !important; }

.padding-90px {
  padding: 90px !important; }

.padding-top-90px {
  padding-top: 90px !important; }

.padding-bottom-90px {
  padding-bottom: 90px !important; }

.padding-left-90px {
  padding-left: 90px !important; }

.padding-right-90px {
  padding-right: 90px !important; }

.margin-90px {
  margin: 90px !important; }

.margin-top-90px {
  margin-top: 90px !important; }

.margin-bottom-90px {
  margin-bottom: 90px !important; }

.margin-left-90px {
  margin-left: 90px !important; }

.margin-right-90px {
  margin-right: 90px !important; }

.padding-95px {
  padding: 95px !important; }

.padding-top-95px {
  padding-top: 95px !important; }

.padding-bottom-95px {
  padding-bottom: 95px !important; }

.padding-left-95px {
  padding-left: 95px !important; }

.padding-right-95px {
  padding-right: 95px !important; }

.margin-95px {
  margin: 95px !important; }

.margin-top-95px {
  margin-top: 95px !important; }

.margin-bottom-95px {
  margin-bottom: 95px !important; }

.margin-left-95px {
  margin-left: 95px !important; }

.margin-right-95px {
  margin-right: 95px !important; }

.padding-100px {
  padding: 100px !important; }

.padding-top-100px {
  padding-top: 100px !important; }

.padding-bottom-100px {
  padding-bottom: 100px !important; }

.padding-left-100px {
  padding-left: 100px !important; }

.padding-right-100px {
  padding-right: 100px !important; }

.margin-100px {
  margin: 100px !important; }

.margin-top-100px {
  margin-top: 100px !important; }

.margin-bottom-100px {
  margin-bottom: 100px !important; }

.margin-left-100px {
  margin-left: 100px !important; }

.margin-right-100px {
  margin-right: 100px !important; }

.padding-105px {
  padding: 105px !important; }

.padding-top-105px {
  padding-top: 105px !important; }

.padding-bottom-105px {
  padding-bottom: 105px !important; }

.padding-left-105px {
  padding-left: 105px !important; }

.padding-right-105px {
  padding-right: 105px !important; }

.margin-105px {
  margin: 105px !important; }

.margin-top-105px {
  margin-top: 105px !important; }

.margin-bottom-105px {
  margin-bottom: 105px !important; }

.margin-left-105px {
  margin-left: 105px !important; }

.margin-right-105px {
  margin-right: 105px !important; }

.padding-110px {
  padding: 110px !important; }

.padding-top-110px {
  padding-top: 110px !important; }

.padding-bottom-110px {
  padding-bottom: 110px !important; }

.padding-left-110px {
  padding-left: 110px !important; }

.padding-right-110px {
  padding-right: 110px !important; }

.margin-110px {
  margin: 110px !important; }

.margin-top-110px {
  margin-top: 110px !important; }

.margin-bottom-110px {
  margin-bottom: 110px !important; }

.margin-left-110px {
  margin-left: 110px !important; }

.margin-right-110px {
  margin-right: 110px !important; }

.padding-115px {
  padding: 115px !important; }

.padding-top-115px {
  padding-top: 115px !important; }

.padding-bottom-115px {
  padding-bottom: 115px !important; }

.padding-left-115px {
  padding-left: 115px !important; }

.padding-right-115px {
  padding-right: 115px !important; }

.margin-115px {
  margin: 115px !important; }

.margin-top-115px {
  margin-top: 115px !important; }

.margin-bottom-115px {
  margin-bottom: 115px !important; }

.margin-left-115px {
  margin-left: 115px !important; }

.margin-right-115px {
  margin-right: 115px !important; }

.padding-120px {
  padding: 120px !important; }

.padding-top-120px {
  padding-top: 120px !important; }

.padding-bottom-120px {
  padding-bottom: 120px !important; }

.padding-left-120px {
  padding-left: 120px !important; }

.padding-right-120px {
  padding-right: 120px !important; }

.margin-120px {
  margin: 120px !important; }

.margin-top-120px {
  margin-top: 120px !important; }

.margin-bottom-120px {
  margin-bottom: 120px !important; }

.margin-left-120px {
  margin-left: 120px !important; }

.margin-right-120px {
  margin-right: 120px !important; }

.padding-125px {
  padding: 125px !important; }

.padding-top-125px {
  padding-top: 125px !important; }

.padding-bottom-125px {
  padding-bottom: 125px !important; }

.padding-left-125px {
  padding-left: 125px !important; }

.padding-right-125px {
  padding-right: 125px !important; }

.margin-125px {
  margin: 125px !important; }

.margin-top-125px {
  margin-top: 125px !important; }

.margin-bottom-125px {
  margin-bottom: 125px !important; }

.margin-left-125px {
  margin-left: 125px !important; }

.margin-right-125px {
  margin-right: 125px !important; }

.padding-130px {
  padding: 130px !important; }

.padding-top-130px {
  padding-top: 130px !important; }

.padding-bottom-130px {
  padding-bottom: 130px !important; }

.padding-left-130px {
  padding-left: 130px !important; }

.padding-right-130px {
  padding-right: 130px !important; }

.margin-130px {
  margin: 130px !important; }

.margin-top-130px {
  margin-top: 130px !important; }

.margin-bottom-130px {
  margin-bottom: 130px !important; }

.margin-left-130px {
  margin-left: 130px !important; }

.margin-right-130px {
  margin-right: 130px !important; }

.padding-135px {
  padding: 135px !important; }

.padding-top-135px {
  padding-top: 135px !important; }

.padding-bottom-135px {
  padding-bottom: 135px !important; }

.padding-left-135px {
  padding-left: 135px !important; }

.padding-right-135px {
  padding-right: 135px !important; }

.margin-135px {
  margin: 135px !important; }

.margin-top-135px {
  margin-top: 135px !important; }

.margin-bottom-135px {
  margin-bottom: 135px !important; }

.margin-left-135px {
  margin-left: 135px !important; }

.margin-right-135px {
  margin-right: 135px !important; }

.padding-140px {
  padding: 140px !important; }

.padding-top-140px {
  padding-top: 140px !important; }

.padding-bottom-140px {
  padding-bottom: 140px !important; }

.padding-left-140px {
  padding-left: 140px !important; }

.padding-right-140px {
  padding-right: 140px !important; }

.margin-140px {
  margin: 140px !important; }

.margin-top-140px {
  margin-top: 140px !important; }

.margin-bottom-140px {
  margin-bottom: 140px !important; }

.margin-left-140px {
  margin-left: 140px !important; }

.margin-right-140px {
  margin-right: 140px !important; }

.padding-145px {
  padding: 145px !important; }

.padding-top-145px {
  padding-top: 145px !important; }

.padding-bottom-145px {
  padding-bottom: 145px !important; }

.padding-left-145px {
  padding-left: 145px !important; }

.padding-right-145px {
  padding-right: 145px !important; }

.margin-145px {
  margin: 145px !important; }

.margin-top-145px {
  margin-top: 145px !important; }

.margin-bottom-145px {
  margin-bottom: 145px !important; }

.margin-left-145px {
  margin-left: 145px !important; }

.margin-right-145px {
  margin-right: 145px !important; }

.padding-150px {
  padding: 150px !important; }

.padding-top-150px {
  padding-top: 150px !important; }

.padding-bottom-150px {
  padding-bottom: 150px !important; }

.padding-left-150px {
  padding-left: 150px !important; }

.padding-right-150px {
  padding-right: 150px !important; }

.margin-150px {
  margin: 150px !important; }

.margin-top-150px {
  margin-top: 150px !important; }

.margin-bottom-150px {
  margin-bottom: 150px !important; }

.margin-left-150px {
  margin-left: 150px !important; }

.margin-right-150px {
  margin-right: 150px !important; }

.padding-155px {
  padding: 155px !important; }

.padding-top-155px {
  padding-top: 155px !important; }

.padding-bottom-155px {
  padding-bottom: 155px !important; }

.padding-left-155px {
  padding-left: 155px !important; }

.padding-right-155px {
  padding-right: 155px !important; }

.margin-155px {
  margin: 155px !important; }

.margin-top-155px {
  margin-top: 155px !important; }

.margin-bottom-155px {
  margin-bottom: 155px !important; }

.margin-left-155px {
  margin-left: 155px !important; }

.margin-right-155px {
  margin-right: 155px !important; }

.padding-160px {
  padding: 160px !important; }

.padding-top-160px {
  padding-top: 160px !important; }

.padding-bottom-160px {
  padding-bottom: 160px !important; }

.padding-left-160px {
  padding-left: 160px !important; }

.padding-right-160px {
  padding-right: 160px !important; }

.margin-160px {
  margin: 160px !important; }

.margin-top-160px {
  margin-top: 160px !important; }

.margin-bottom-160px {
  margin-bottom: 160px !important; }

.margin-left-160px {
  margin-left: 160px !important; }

.margin-right-160px {
  margin-right: 160px !important; }

.padding-165px {
  padding: 165px !important; }

.padding-top-165px {
  padding-top: 165px !important; }

.padding-bottom-165px {
  padding-bottom: 165px !important; }

.padding-left-165px {
  padding-left: 165px !important; }

.padding-right-165px {
  padding-right: 165px !important; }

.margin-165px {
  margin: 165px !important; }

.margin-top-165px {
  margin-top: 165px !important; }

.margin-bottom-165px {
  margin-bottom: 165px !important; }

.margin-left-165px {
  margin-left: 165px !important; }

.margin-right-165px {
  margin-right: 165px !important; }

.padding-170px {
  padding: 170px !important; }

.padding-top-170px {
  padding-top: 170px !important; }

.padding-bottom-170px {
  padding-bottom: 170px !important; }

.padding-left-170px {
  padding-left: 170px !important; }

.padding-right-170px {
  padding-right: 170px !important; }

.margin-170px {
  margin: 170px !important; }

.margin-top-170px {
  margin-top: 170px !important; }

.margin-bottom-170px {
  margin-bottom: 170px !important; }

.margin-left-170px {
  margin-left: 170px !important; }

.margin-right-170px {
  margin-right: 170px !important; }

.padding-175px {
  padding: 175px !important; }

.padding-top-175px {
  padding-top: 175px !important; }

.padding-bottom-175px {
  padding-bottom: 175px !important; }

.padding-left-175px {
  padding-left: 175px !important; }

.padding-right-175px {
  padding-right: 175px !important; }

.margin-175px {
  margin: 175px !important; }

.margin-top-175px {
  margin-top: 175px !important; }

.margin-bottom-175px {
  margin-bottom: 175px !important; }

.margin-left-175px {
  margin-left: 175px !important; }

.margin-right-175px {
  margin-right: 175px !important; }

.padding-180px {
  padding: 180px !important; }

.padding-top-180px {
  padding-top: 180px !important; }

.padding-bottom-180px {
  padding-bottom: 180px !important; }

.padding-left-180px {
  padding-left: 180px !important; }

.padding-right-180px {
  padding-right: 180px !important; }

.margin-180px {
  margin: 180px !important; }

.margin-top-180px {
  margin-top: 180px !important; }

.margin-bottom-180px {
  margin-bottom: 180px !important; }

.margin-left-180px {
  margin-left: 180px !important; }

.margin-right-180px {
  margin-right: 180px !important; }

.padding-185px {
  padding: 185px !important; }

.padding-top-185px {
  padding-top: 185px !important; }

.padding-bottom-185px {
  padding-bottom: 185px !important; }

.padding-left-185px {
  padding-left: 185px !important; }

.padding-right-185px {
  padding-right: 185px !important; }

.margin-185px {
  margin: 185px !important; }

.margin-top-185px {
  margin-top: 185px !important; }

.margin-bottom-185px {
  margin-bottom: 185px !important; }

.margin-left-185px {
  margin-left: 185px !important; }

.margin-right-185px {
  margin-right: 185px !important; }

.padding-190px {
  padding: 190px !important; }

.padding-top-190px {
  padding-top: 190px !important; }

.padding-bottom-190px {
  padding-bottom: 190px !important; }

.padding-left-190px {
  padding-left: 190px !important; }

.padding-right-190px {
  padding-right: 190px !important; }

.margin-190px {
  margin: 190px !important; }

.margin-top-190px {
  margin-top: 190px !important; }

.margin-bottom-190px {
  margin-bottom: 190px !important; }

.margin-left-190px {
  margin-left: 190px !important; }

.margin-right-190px {
  margin-right: 190px !important; }

.padding-195px {
  padding: 195px !important; }

.padding-top-195px {
  padding-top: 195px !important; }

.padding-bottom-195px {
  padding-bottom: 195px !important; }

.padding-left-195px {
  padding-left: 195px !important; }

.padding-right-195px {
  padding-right: 195px !important; }

.margin-195px {
  margin: 195px !important; }

.margin-top-195px {
  margin-top: 195px !important; }

.margin-bottom-195px {
  margin-bottom: 195px !important; }

.margin-left-195px {
  margin-left: 195px !important; }

.margin-right-195px {
  margin-right: 195px !important; }

.padding-200px {
  padding: 200px !important; }

.padding-top-200px {
  padding-top: 200px !important; }

.padding-bottom-200px {
  padding-bottom: 200px !important; }

.padding-left-200px {
  padding-left: 200px !important; }

.padding-right-200px {
  padding-right: 200px !important; }

.margin-200px {
  margin: 200px !important; }

.margin-top-200px {
  margin-top: 200px !important; }

.margin-bottom-200px {
  margin-bottom: 200px !important; }

.margin-left-200px {
  margin-left: 200px !important; }

.margin-right-200px {
  margin-right: 200px !important; }

.work .container {
  padding: 15px 0 25px; }
  .work .container a {
    text-decoration: underline; }
    .work .container a:hover {
      text-decoration: underline; }
  .work .container img.img-responsive {
    margin-bottom: 10px; }
  @media (min-width: 728px) {
    .work .container {
      padding: 40px 0 50px; }
      .work .container img.img-responsive {
        margin-bottom: 0; } }
@media (min-width: 728px) {
  .work .work-footer {
    padding-bottom: 60px; } }

section.work-section {
  padding-bottom: 30px; }
  section.work-section .work-row a.work {
    display: block;
    margin-bottom: 40px;
    text-decoration: none; }
    section.work-section .work-row a.work:hover, section.work-section .work-row a.work:active, section.work-section .work-row a.work:focus, section.work-section .work-row a.work:visited {
      text-decoration: none; }
    section.work-section .work-row a.work h3 {
      margin-bottom: 0; }
    section.work-section .work-row a.work p {
      margin-top: 0; }
    section.work-section .work-row a.work .work-img {
      position: relative;
      margin-bottom: 20px; }
      section.work-section .work-row a.work .work-img img {
        transition: all 350ms ease; }
      section.work-section .work-row a.work .work-img:hover img {
        transform: scale(1.01) rotate(1.5deg);
        transition: all 350ms ease; }
    @media (min-width: 728px) {
      section.work-section .work-row a.work {
        margin-bottom: 70px; } }
  section.work-section .work-row .work-col:nth-of-type(even) a.work .work-img:hover img {
    transform: scale(1.01) rotate(-1.5deg); }
  @media (min-width: 992px) {
    section.work-section {
      padding-bottom: 100px; } }

header {
  width: 100%;
  padding-top: 20px;
  position: fixed;
  z-index: 10; }
  header .container {
    padding: 10px 5px;
    position: relative;
    height: 100%;
    z-index: 2; }
    header .container span {
      position: absolute; }
    header .container span:first-of-type {
      top: 0;
      left: 0; }
    header .container span:nth-of-type(2) {
      top: 0;
      right: 0; }
      header .container span:nth-of-type(2) a {
        margin-right: 5px; }
        header .container span:nth-of-type(2) a:last-of-type {
          margin-right: 0; }
    @media (min-width: 728px) {
      header .container {
        padding: 10px 0; }
        header .container span:nth-of-type(2) a {
          margin-right: 15px; } }

header a, footer a {
  color: black;
  text-decoration: none; }
  header a:hover, header a:active, header a:focus, header a:visited, footer a:hover, footer a:active, footer a:focus, footer a:visited {
    color: black;
    text-decoration: none; }

footer {
  padding-bottom: 40px; }
  footer .footer-social {
    text-align: center;
    padding-bottom: 20px; }
  footer .footer-top {
    text-align: left; }
  footer .footer-copy {
    text-align: right; }
  @media (min-width: 728px) {
    footer .footer-social {
      text-align: left;
      padding-bottom: 0; }
    footer .footer-top {
      text-align: center; }
    footer .footer-copy {
      text-align: right; } }

.intro {
  margin: auto;
  padding: 50px 0 30px; }
  @media (min-width: 728px) {
    .intro {
      padding: 100px 0 40px; } }
  @media (min-width: 1100px) {
    .intro {
      padding: 170px 0 40px; } }
  @media (min-width: 1100px) {
    .intro.home {
      padding: 170px 0 90px; } }

/*# sourceMappingURL=style.css.map */
