@import url(reset.css);
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'base_styles';
@import 'helpers';
@import 'work';
@import 'home';
@import 'about';

// Shared Component Styles
header {
	width: 100%;
	padding-top: 30px;
	z-index: 10;
	.container {
		padding: 10px 5px;
		position: relative;
		height: 100%;
		z-index: 2;
		span {
			position: absolute;
		}
		span:first-of-type {
			top: 0;
			left: 0;
		}
		span:nth-of-type(2) {
			top: 0;
			right: 0;
			a {
				margin-right: 5px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		@media (min-width: 728px) {
    	padding: 10px 0;
			span:nth-of-type(2) {
				a {
					margin-right: 15px;
				}
			}
	  }
	}
}

header, footer {
	a {
		@include transition;
		color: black;
		text-decoration: none;
		transform: translate(0, 0);
		display: inline-block;
		&:hover,
		&:active,
		&:focus,
		&:visited {
			@include transition;
			color: black;
			text-decoration: none;
			transform: translate(0, -4px);
		}
	}
}

footer {
	padding-bottom: 40px;
	.footer-social {
		text-align: center;
		padding-bottom: 20px;
	}
	.footer-top {
		text-align: left;
		.arrow {	
	    display: inline-block;
	    transform: rotate(-90deg);
	    padding-bottom: 10px;
	    padding-left: 16px;
	    font-size: 16px;
		}
	}
	.footer-copy {
		text-align: right;
	}
	@media (min-width: 728px) {
		.footer-social {
			text-align: left;
			padding-bottom: 0;
		}
		.footer-top {
			text-align: center;
		}
		.footer-copy {
			text-align: right;
		}
	}
}

.intro {
	margin: auto;
	padding: 50px 0 30px;
	@media (min-width: 728px) {
  	padding: 100px 0 40px;
	}
	@media (min-width: 1100px) {
  	padding: 150px 0 40px;
	}
	&.home {
		@media (min-width: 1100px) {
			padding: 200px 0 40px;
	  	height: 70vh;
		}
	}
}


