@import url(reset.css);

// variables
$yellow-500: #FFDE48;
$yellow-600: #cc972f;
$black: #000;
$grey-100: grey;

// base styles
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black;
	font-family: 'Beatrice TRIAL', 'Helvetica', 'Helvetica Neue', 'Arial', 'Sans serif';
}

.container {
	margin: auto;
	width: 95%;
	padding-top: 20px;
	@media (min-width: 728px) {
  	max-width: 1700px;
		width: 90%;
		padding-top: 30px;
	}
}

h1 {
	font-size: 18px;
	line-height: 24px;
	@media (min-width: 728px) {
  	font-size: 35px;
		line-height: 44px;
	}
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 13px;
		@media (min-width: 728px) {
  	font-size: 23px;
	}

}
p {
	font-size: 12px;
	@media (min-width: 728px) {
  	font-size: 20px;
  	line-height: 27px;
	}
	&.p-lrg {
		font-size: 12px;
    line-height: 19px;
    @media (min-width: 728px) {
    	font-size: 19px;
	    line-height: 30px;
	  }
		@media (min-width: 1100px) {
			font-size: 23px;
			line-height: 34px;
		}
	}
}
* + p {
	margin-top: 10px;
}
a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $black;
		text-decoration: none;
	}
	&:active,
	&:focus,
	&:visited {
		color: $black;
		text-decoration: none;
	}
}

.intro,
.bio {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
		}
		&:active,
		&:focus,
		&:visited {
			text-decoration: underline;
		}
	}
}

// helpers
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.overflow-hidden {
	overflow: hidden;
}
@mixin small-caps {
	font-size: 10px;
	letter-spacing: 1.3px;	
	text-transform: uppercase;
}

// component styles

header {
	position: fixed;
	width: 100%;
	z-index: 3;
}

.intro {
	margin: auto;
	text-align: center;
	max-width: 1000px;
	width: 100%;
	h1 {
		padding: 50px 0;
		@media (min-width: 728px) {
    	padding: 130px 0;
  	}
	}
}
section.work-section {
	padding-bottom: 150px;
	.work-col {
		a.work {
			display: block;
			margin-bottom: 100px;
			.work-img {
				// overflow: hidden;
				position: relative;
				margin-bottom: 15px;
				img {
					transition: all 350ms ease;
				}
				&:hover {
					img {
						transform: scale(1.03);
						transition: all 350ms ease;
					}
				}
			}
		}
		span {
			@include small-caps;
			color: $grey-100;
		}
		&:last-child {
			margin-top: 100px;

		}
	}
}

.bio {
	background: $yellow-500;
	height: 100%;
	overflow: hidden;
	padding-top: 7%;
	position: fixed;
	top: 94%;
	transition: 450ms ease-out;
	width: 100%;
	z-index: 1;
	p {
		text-indent: 50px;
		@media (min-width: 728px) {
			padding-left: 60px;
		}
	}
	span {
		font-size: 15px;
	}
	&.view {
		transition: 450ms ease-in;
		top: 0;
	}
}

footer {
	position: fixed;
	bottom: 0;
	padding: 5px;
	text-align: center;
	z-index: 2;
	width: 100%;
	p {
		font-size: 13px;
	}
	span {
		@include small-caps;
		color: $yellow-600;
		display: inline;
		font-weight: 600;
		padding: 8px 5px;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
		.typewriter {
		  overflow: hidden; /* Ensures the content is not revealed until the animation */
		  border-right: 2px solid black; /* The typwriter cursor */
		  white-space: nowrap; /* Keeps the content on a single line */
		  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		  animation: 
		    typing 2.5s steps(18, end),
		    blink-caret .75s step-end infinite;
		}

		/* The typing effect */
		@keyframes typing {
		  from { width: 10% }
		  to { width: 100% }
		}

		/* The typewriter cursor effect */
		@keyframes blink-caret {
		  from, to { border-color: transparent }
		  50% { border-color: $yellow-600; }
		}
	}
	ul {
		display: inline;
		li {
			display: inline;
			padding-right: 10px;
			&:last-child {
				padding-right: 0;
			}
			p {
				display: inline;
			}
		}
	}
}

