@import url(reset.css);
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'base_styles';
@import 'helpers';
@import 'work';
@import 'home';

// Shared Component Styles
header {
	width: 100%;
	padding-top: 20px;
	position: fixed;
	z-index: 10;
	.container {
		padding: 10px 0;
		position: relative;
		height: 100%;
		z-index: 2;
		h3 {
			font-family: 'atlas-grotesk-reg';
		}
		span {
			position: absolute;
		}
		span:first-of-type {
			top: 0;
			left: 0;
		}
		span:nth-of-type(2) {
			top: 0;
			right: 0;
		}
	}
}

.bio {
	background: $yellow-500;
	height: 100%;
	overflow: hidden;
	padding-top: 7%;
	position: fixed;
	top: 100%;
	transition: 450ms ease-out;
	width: 100%;
	z-index: 1;
	img {
		width: 300px;
	}
	p {
		@media (min-width: 728px) {
			padding-left: 60px;
		}
	}
	span {
		font-size: 15px;
	}
	&.view {
		transition: 450ms ease-in;
		top: 0;
	}
}

