
// work pages

.work {
	padding-top: 70px;
	.container {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.work-intro {
		p {
			padding-top: 30px;
		}
	}
	&.gusto-careers {
		section.gusto-careers-screens {
			background: #252525;
			height: 900px;
			img {
				box-shadow: -1px 2px 37px 22px #00000008;
				display: inline;
				max-width: 600px;
				position: absolute;
				width: 100%;
				&:first-of-type {
					left: 50%;
					margin-left: -300px;
					z-index: 2;
				}
				&:nth-of-type(2) {
					left: 0;
					margin-top: 30px;
					z-index: 1;
				}
				&:last-of-type {
					margin-top: 30px;
					right: 0;
					z-index: 1;

				}
			}
		}
		section.gusto-careers-photography {
			img {
				position: absolute;
			}
		}

		.affinity-badges {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81d4ee+0,01b6da+100 */
			background: #81d4ee; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #81d4ee 0%, #01b6da 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #81d4ee 0%,#01b6da 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #81d4ee 0%,#01b6da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81d4ee', endColorstr='#01b6da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}
}