
// work pages

.work {
	.container {
		padding: 15px 0 25px;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: underline;
			}
		}
		img.img-responsive {
			margin-bottom: 10px;
		}
		@media (min-width: 728px) {
  		padding: 40px 0 50px;
			img.img-responsive {
				margin-bottom: 0;
			}
		}
	}
	.work-footer {
		@media (min-width: 728px) {
			padding-bottom: 60px;
		}
	}
}